In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, roc_auc_score, accuracy_score
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [4]:
train = pd.read_csv('C:/Users/HP/Kaggle competetions/Santander Customer Transaction Prediction/datasets/train.csv')
test = pd.read_csv('C:/Users/HP/Kaggle competetions/Santander Customer Transaction Prediction/datasets/test.csv')

In [5]:
print(train.shape)
print(test.shape)
print(train.target.value_counts())
train.head(2)

(200000, 202)
(200000, 201)
0    179902
1     20098
Name: target, dtype: int64

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.093,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.389,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518

In [6]:
X = train.iloc[:, 2:]
y = train[['target']]

In [16]:
trainX,valX,trainY,valY = train_test_split(X,y,test_size=0.25, random_state=0)
# depth = []

# for i in range(3,20):
#     clf = DecisionTreeClassifier(max_depth=i)
#     # Perform 7-fold cross validation 
#     scores = cross_val_score(estimator=clf, X=X, y=y, cv=7, n_jobs=-1)
#     depth.append((i,scores.mean()))
# print(depth)

In [19]:
train_accuracy = []
val_accuracy = []
for i in range(3,20):
    clf = DecisionTreeClassifier(max_depth=i, min_samples_split=12,min_samples_leaf=20)
    clf.fit(trainX, trainY)
    train_accuracy.append(accuracy_score(trainY, clf.predict(trainX)))
    val_accuracy.append(accuracy_score(valY, clf.predict(valX)))

In [32]:
train_val_accu = pd.DataFrame({'train':train_accuracy, 'val':val_accuracy})
train_val_accu

       train      val
0   0.900120  0.89786
1   0.900247  0.89792
2   0.900833  0.89616
3   0.901933  0.89662
4   0.902933  0.89596
5   0.904400  0.89428
6   0.905933  0.89246
7   0.907653  0.89064
8   0.909000  0.88812
9   0.910093  0.88656
10  0.911107  0.88446
11  0.911960  0.88266
12  0.912627  0.88116
13  0.913033  0.87986
14  0.913273  0.87906
15  0.913360  0.87860
16  0.913540  0.87794

In [38]:
clf = DecisionTreeClassifier(max_depth=4, min_samples_split=12,min_samples_leaf=20)
clf.fit(trainX, trainY)
print(accuracy_score(trainY, clf.predict(trainX)))
accuracy_score(valY, clf.predict(valX))

0.9002466666666666

0.89792

In [39]:
test_pred = clf.predict(test.iloc[:, 1:])

test_predictions = pd.DataFrame()
test_predictions[['ID_code']] = test[['ID_code']] 
print(test_predictions.shape)

df = pd.DataFrame({'target':test_pred})
print(df.shape)

submission_dt = pd.concat([test_predictions, df], axis=1)
print(submission_dt.shape)

submission_dt.head(2)

(200000, 1)
(200000, 1)
(200000, 2)

  ID_code  target
0  test_0       0
1  test_1       0

In [40]:
submission_dt.to_csv('C://Users//HP//Kaggle competetions//Santander Customer Transaction Prediction//submission_dt.csv', index=False)